

/* .row {
  background-color: bg-secondary;
  color: text-white;
} */

.btn {
  margin: 7px;
}

body {
  max-width: 700px;
  margin: auto;
  padding-top: 50px;
}

#lion_text {
  display: none;
}

#zebra_text {
  display: none;
}

#giraffe_text {
  display: none;
}


.jumbotron {
  background-color: #b3b086;
}

.card {
  background-color: #ece686;
}
